/* Theme variables */
/* Backgrounds */
.bg-light {
  background-color: #f8f9fa !important;
}

.bg-medium {
  background-color: #f1f2f3 !important;
}

.bg-dark {
  background-color: #282828 !important;
}

.bg-clouds {
  background-color: #ecf0f1 !important;
}

.bg-green {
  background-color: #35d461 !important;
}

.bg-yellow {
  background-color: #f9e104 !important;
}

.bg-orange {
  background-color: #f99d07 !important;
}

.bg-purple {
  background-color: #882ff6 !important;
}

.bg-blue {
  background-color: #37b6f6 !important;
}

/* buttons */
.btn-orange {
  background-color: #f99d07 !important;
}

.btn-yellow {
  background-color: #f9e104 !important;
}

.btn-orange:hover {
  background-color: #f4c659 !important;
}

.btn-yellow:hover {
  background-color: #f4e857 !important;
}

/* Borders */
.border-blue {
  border-color: #37b6f6 !important;
}

.border-orange {
  border-color: #f99d07 !important;
}

.border-yellow {
  border-color: #f9e104 !important;
}

/* Text Color */
.text-blue {
  color: #37b6f6 !important;
}

.text-orange {
  color: #f99d07 !important;
}

.text-yellow {
  color: #f9e104 !important;
}

.text-green {
  color: #35d461 !important;
}

/* FONTS */
.font-family-2 {
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
}

/* Custom CSS */
html {
  height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 18px;
}

a, a:hover {
  text-decoration: none;
}

/*** DISPLAY ***/
/*** NAVBAR ***/
#mainNavBar {
  padding: 25px 0px;
  transition: 0.4s;
  opacity: 0.6;
}

#mainNavLogo {
  transition: 0.4s;
}

.img-item img {
  margin: 0px 2px;
  width: 40px;
  /*filter: contrast(20%);*/
}

.img-item a {
  /*filter: contrast(20%);*/
}

.img-item a:hover {
  filter: contrast(100%);
}

.img-logo {
  width: 180px;
}

.nav-item {
  margin: 2px 0;
}

.nav-item a {
  min-height: 30px;
  margin: 2px;
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
  text-decoration: none;
}

.nav-item.nav-focus-1,
.nav-item.nav-focus-1 a {
  border-radius: 25px;
  color: #fff !important;
  border: none;
}

.nav-item a:hover {
  border-radius: none;
  border: none;
  color: #fff !important;
  background-color: #60a3bc;
}

.img-item img {
  margin: 0px 5px;
}

/*** MASTHEAD ***/
.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/masthead/1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20rem 0;
  margin-top: 50px;
}

.masthead.slideshow {
  margin-top: -80px;
}

.masthead.enseignant {
  background: url("../img/bg-masthead-t.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.masthead.parents {
  background: url("../img/bg-masthead-p.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.masthead.surveys {
  background: url("../img/bg-masthead-s.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.giveaway {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead--.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.djtt {
  background: url("../img/bg/adventure-s.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.masthead.news {
  background: url("../img/bg-masthead-news.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.faq {
  background: url("../img/bg-masthead-faq.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.kits {
  background: url("../img/bg-masthead-kits.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.engagements {
  background: url("../img/bg-masthead-engagements.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.user-home {
  background: url("../img/bg-masthead-s.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.order {
  background: url("../img/bg-masthead-robot.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.benefits {
  background: url("../img/bg-masthead-kits.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.userdata {
  background: url("../img/bg-masthead-robot.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.mentors {
  background: url("../img/bg-masthead-contents.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 450px;
}

.masthead.contents {
  background: url("../img/bg-masthead-kits.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.masthead.admin {
  background: url("../img/bg-masthead-robot.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.masthead .description {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 1000;
  background-color: rgba(37, 37, 41, 0.4);
  padding: 40px;
}

.masthead .description h1 {
  line-height: 40px;
  font-weight: 1000;
}

.masthead .focus {
  font-weight: bold;
  color: #f6b93b;
}

@media (min-width: 768px) {
  .masthead {
    padding: 20rem 0;
  }

  .masthead.enseignant,
.masthead.parents {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .masthead .description h1 {
    line-height: 50px;
  }
}
.button-img {
  width: 100%;
  margin: 20px 0%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.button-img a,
.button-img a:hover {
  text-decoration: none;
}

.button-img h1,
.button-img h2,
.button-img h3,
.button-img h4 {
  background-color: rgba(37, 37, 41, 0.4);
  padding: 25px;
}

.button-img.img-1 {
  background: url("../img/bg-masthead-news-1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}

.button-img.img-2 {
  background: url("../img/bg-masthead-engagements.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-img.img-3 {
  background: url("../img/bg-masthead-4.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-img.img-4 {
  background: url("../img/bg-masthead-faq.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-img.img-5 {
  background: url("../img/bg-masthead-kits.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-img.img-6 {
  background: url("../img/bg/bg-light.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*SubHead*/
.subhead {
  position: relative;
  text-align: center;
  line-height: 30px;
  font-size: 26px;
  color: #fff;
  padding: 25px;
  font-weight: 500;
  background-color: #82ccdd;
  margin: 0;
  /*#7ed6df;#60a3bc*/
}

.text-hght-1 {
  font-weight: 900;
  /*color:#1289A7;*/
}

.section-head {
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 45px;
  font-weight: bold;
  padding: 15px 0;
  color: #1289A7;
  background: #fff;
  margin: 0;
}

.section-head-1 {
  background-color: #f5f6f7;
  color: #f6b93b;
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*Services*/
.services {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.services .services-text {
  padding: 3rem;
}

.services .services-img {
  background-size: cover;
}

@media (min-width: 768px) {
  .services .services-text {
    padding: 7rem;
  }
}
/* cards */
.card-subject {
  margin: 15px;
  z-index: 1;
}

.card-subject:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc;
}

/* smart kits */
.smart-kit {
  width: 300px;
  height: 450px;
  margin: 15px;
  z-index: 1;
}

.smart-kit:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc;
}

.smart-kit .card-img-top {
  height: 300px;
}

.smart-kit .card-img-top img {
  width: 100%;
}

.smart-kit .card-title {
  height: 65px;
  margin: 0;
  padding: 10px 5px;
}

.smart-kit .card-comment {
  height: 40px;
  padding: 10px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #37b6f6;
}

.smart-kit .card-price {
  height: 60px;
  background: #f6f6f6;
  line-height: 50px;
  vertical-align: middle;
}

/*how it works*/
.how-it-works {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.how-it-works .bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 0;
}

.hiw-box {
  width: 340px;
  height: 270px;
  margin: 10px;
  z-index: 1;
  display: inline-block;
  background: #fff;
  border: 1px solid #f1f2f3;
  border-radius: 15px;
}

.hiw-box .title {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #1289A7;
  float: left;
}

.hiw-box .number {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #C4E538;
}

.hiw-box img {
  height: 80px;
}

.how-it-works .button {
  width: 320px;
  height: 80px;
  margin: 15px 5px;
  padding: 15px 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.how-it-works .button.b1 {
  line-height: 25px;
  background-color: #a8d984;
}

.how-it-works .button.b2 {
  line-height: 25px;
  background-color: #60a3bc;
}

.how-it-works .button a {
  text-decoration: none;
}

.how-it-works .button.b1:hover {
  cursor: pointer;
  color: #fff;
  background-color: #c8e9a4;
}

.how-it-works .button.b2:hover {
  cursor: pointer;
  color: #fff;
  background-color: #82ccdd;
}

.how-it-works a:hover {
  text-decoration: none;
}

/* surveys */
.surveys .button {
  width: 40%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.surveys .button.b1 {
  line-height: 30px;
  background-color: #a8d984;
}

.surveys .button.b2 {
  line-height: 18px;
  background-color: #60a3bc;
}

.surveys .button a {
  text-decoration: none;
}

.surveys .button.b1:hover {
  cursor: pointer;
  color: #fff;
  background-color: #c8e9a4;
}

.surveys .button.b2:hover {
  cursor: pointer;
  color: #fff;
  background-color: #82ccdd;
}

.surveys a:hover {
  text-decoration: none;
}

@media (min-width: 535px) {
  .surveys .button.b2 {
    padding-top: 15px;
  }
}
/*showcase*/
.features-icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

/*Engagements*/
.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer ul {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #151515;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

footer #social-icons {
  background-color: #282828;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.ico-social {
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 6px;
  margin: 0 8px;
}

.ico-facebook {
  background: url("../img/social-icons.jpg") -12px -14px;
}

.ico-twitter {
  background: url("../img/social-icons.jpg") -70px -14px;
}

.ico-instagram {
  background: url("../img/social-icons.jpg") 48px 52px;
}

.ico-linkedin {
  background: url("../img/social-icons.jpg") 109px 52px;
}

footer a, footer a:hover {
  color: #fff;
}

footer a:hover {
  font-weight: bold;
}

footer #soc-title {
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.mentions-legales h4 {
  margin-top: 20px;
}

.not-found {
  margin-bottom: 50px;
}

.not-found h4 {
  margin-top: 20px;
}

/* contact */
.contact {
  position: relative;
}

.contact .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #343a40;
  background: url("../img/bg-showcase-2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  /* Keep the background behind the content */
}

.contact .bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.75);
  z-index: 0;
}

.contact .contact-text {
  margin: 7rem 3rem;
  color: #fff;
  background-color: rgba(80, 80, 80, 0.4);
  padding: 2rem;
}

.contact .contact-text h1 {
  font-weight: 500;
}

.contact .contact-text-1 h2 {
  font-weight: 500;
}

.contact .contact-text-1 {
  margin: 2rem 3rem 1rem;
  text-align: center;
  padding: 0.8rem;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(80, 80, 80, 0.4);
}

#contact .form {
  margin: 7rem 3rem;
}

#contact .contact form {
  margin: 3rem;
}

#contact .form .box {
  margin: 0;
  width: 100%;
}

#contact .form .box input[type=text],
#contact .form .box input[type=email] {
  padding-left: 39px;
  margin-bottom: 10px;
  color: black;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

#contact .form .box input.name {
  background: url("../img/formname.png") #fff no-repeat 5px;
}

#contact .form .box input.mail {
  background: url("../img/formmail.png") #fff no-repeat 5px;
}

#contact .form .box input.phone {
  background: url("../img/formphone.png") #fff no-repeat 5px;
}

#contact .form .box textarea {
  padding: 11px;
  width: 100%;
  margin: 0;
  border-radius: 3px;
  height: 113px;
}

.contact .submit input[type=submit] {
  margin: 20px 0;
  text-transform: uppercase;
  color: #fff;
  background: #187CCC;
  font-size: 16px;
  padding: 4px 12px;
  border: 0 none;
  border-radius: 5px;
  -webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
  -o-transition: background linear 0.2s, box-shadow linear 0.2s;
  transition: background linear 0.2s, box-shadow linear 0.2s;
}

.contact .submit input[type=submit]:hover {
  background: #252528;
}

/* admin */
.admin {
  position: relative;
}

.admin .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #343a40;
  background: url("../img/bg-showcase-2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  /* Keep the background behind the content */
}

.admin .bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 0;
}

.admin .admin-text {
  margin: 7rem 3rem;
  color: #fff;
  background-color: rgba(80, 80, 80, 0.3);
  padding: 2rem;
}

.admin .admin-text h1 {
  font-weight: 500;
}

#admin .form {
  margin: 7rem 3rem;
}

#admin .admin form {
  margin: 3rem;
}

#admin .form .box {
  margin: 0;
  width: 100%;
}

#admin .form .box input[type=text],
#admin .form .box input[type=password] {
  padding-left: 39px;
  margin-bottom: 10px;
  color: black;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

#admin .form .box input.name {
  background: url("../img/formname.png") #fff no-repeat 5px;
}

.admin .submit input[type=submit] {
  margin: 20px 0;
  text-transform: uppercase;
  color: #fff;
  background: #187CCC;
  font-size: 16px;
  padding: 4px 12px;
  border: 0 none;
  border-radius: 5px;
  -webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
  -o-transition: background linear 0.2s, box-shadow linear 0.2s;
  transition: background linear 0.2s, box-shadow linear 0.2s;
}

.admin .submit input[type=submit]:hover {
  background: #252528;
}

.explore-btn {
  width: 100%;
  text-align: center;
  margin: 0px 0px 50px;
}

.explore-btn a {
  text-decoration: none;
  font-size: 28px;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #f6b93b;
  color: #fff;
}

.explore-btn a:hover, .order-btn a:hover {
  background-color: #fad390;
}

.order-btn {
  width: 100%;
}

.order-btn a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px, 20px;
  background-color: #fad390;
  color: #fff;
}

#testing-btn {
  border-radius: 5px;
  border: 1px solid #60a3bc;
  padding: 15px;
  width: 80%;
  margin-left: 10%;
  color: #60a3bc;
}

#testing-btn a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  color: inherit;
}

#testing-btn:hover {
  background-color: #82ccdd;
  color: #fff;
}

#testing-btn a:hover {
  color: #fff;
}

#engagements p {
  font-size: 30px;
}

.button {
  background-color: #60a3bc;
  color: #fff;
  min-width: 100px;
  display: inline-block;
  padding: 15px;
}

.button a {
  text-decoration: none;
}

.button:hover,
.button a.hover {
  background-color: #82ccdd;
  color: #fff;
  text-decoration: none;
}

.lead {
  font-size: 1.15rem;
}

/*#actualites
{
    padding:75px 0 20px 0;
}*/
/* BOOTSTRAP OVERRIDES */
.btn {
  display: inline-block;
  color: #FFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-image: none !important;
  border: 5px solid #FFF;
  border-radius: 0;
  box-shadow: none !important;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  position: relative;
}

.btn-lg {
  line-height: 1.35;
  padding: 7px 16px;
}

.btn-sm {
  border-width: 4px;
  font-size: 13px;
  padding: 4px 9px;
  line-height: 1.39;
}

.btn-xs {
  border-width: 3px;
}

.btn-minier {
  padding: 0 4px;
  line-height: 18px;
  border-width: 2px;
  font-size: 12px;
}

button.btn:active {
  top: 1px;
  left: 1px;
}

.btn,
.btn-default,
.btn:focus,
.btn-default:focus {
  background-color: #abbac3 !important;
  border-color: #abbac3;
  white-space: normal;
  word-wrap: break-word;
  border-width: 0;
}

.btn:hover,
.btn-default:hover,
.open .btn.dropdown-toggle,
.open .btn-default.dropdown-toggle {
  background-color: #8b9aa3 !important;
  border-color: #abbac3;
}

.btn.no-border:hover,
.btn-default.no-border:hover {
  border-color: #8b9aa3;
}

.btn.no-hover:hover,
.btn-default.no-hover:hover {
  background-color: #abbac3 !important;
}

.btn.active,
.btn-default.active {
  background-color: #9baab3 !important;
  border-color: #8799a4;
}

.btn.no-border.active,
.btn-default.no-border.active {
  background-color: #92a3ac !important;
  border-color: #92a3ac;
}

.btn.disabled,
.btn-default.disabled,
.btn[disabled],
.btn-default[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .btn-default,
.btn.disabled:hover,
.btn-default.disabled:hover,
.btn[disabled]:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn-default:hover,
.btn.disabled:focus,
.btn-default.disabled:focus,
.btn[disabled]:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn-default:focus,
.btn.disabled:active,
.btn-default.disabled:active,
.btn[disabled]:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn-default:active,
.btn.disabled.active,
.btn-default.disabled.active,
.btn[disabled].active,
.btn-default[disabled].active,
fieldset[disabled] .btn.active,
fieldset[disabled] .btn-default.active {
  background-color: #abbac3 !important;
  border-color: #abbac3;
}

.btn-primary,
.btn-primary:focus {
  background-color: #428bca !important;
  border-color: #428bca;
}

.btn-primary:hover,
.open .btn-primary.dropdown-toggle {
  background-color: #1b6aaa !important;
  border-color: #428bca;
}

.btn-primary.no-border:hover {
  border-color: #1b6aaa;
}

.btn-primary.no-hover:hover {
  background-color: #428bca !important;
}

.btn-primary.active {
  background-color: #2f7bba !important;
  border-color: #27689d;
}

.btn-primary.no-border.active {
  background-color: #2b72ae !important;
  border-color: #2b72ae;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca !important;
  border-color: #428bca;
}

.btn-info,
.btn-info:focus {
  background-color: #6fb3e0 !important;
  border-color: #6fb3e0;
}

.btn-info:hover,
.open .btn-info.dropdown-toggle {
  background-color: #4f99c6 !important;
  border-color: #6fb3e0;
}

.btn-info.no-border:hover {
  border-color: #4f99c6;
}

.btn-info.no-hover:hover {
  background-color: #6fb3e0 !important;
}

.btn-info.active {
  background-color: #5fa6d3 !important;
  border-color: #4396cb;
}

.btn-info.no-border.active {
  background-color: #539fd0 !important;
  border-color: #539fd0;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #6fb3e0 !important;
  border-color: #6fb3e0;
}

.btn-success,
.btn-success:focus {
  background-color: #87b87f !important;
  border-color: #87b87f;
}

.btn-success:hover,
.open .btn-success.dropdown-toggle {
  background-color: #629b58 !important;
  border-color: #87b87f;
}

.btn-success.no-border:hover {
  border-color: #629b58;
}

.btn-success.no-hover:hover {
  background-color: #87b87f !important;
}

.btn-success.active {
  background-color: #75aa6c !important;
  border-color: #629959;
}

.btn-success.no-border.active {
  background-color: #6ba462 !important;
  border-color: #6ba462;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #87b87f !important;
  border-color: #87b87f;
}

.btn-warning,
.btn-warning:focus {
  background-color: #ffb752 !important;
  border-color: #ffb752;
}

.btn-warning:hover,
.open .btn-warning.dropdown-toggle {
  background-color: #e59729 !important;
  border-color: #ffb752;
}

.btn-warning.no-border:hover {
  border-color: #e59729;
}

.btn-warning.no-hover:hover {
  background-color: #ffb752 !important;
}

.btn-warning.active {
  background-color: #f2a73e !important;
  border-color: #f0981c;
}

.btn-warning.no-border.active {
  background-color: #f1a02f !important;
  border-color: #f1a02f;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffb752 !important;
  border-color: #ffb752;
}

.btn-danger,
.btn-danger:focus {
  background-color: #d15b47 !important;
  border-color: #d15b47;
}

.btn-danger:hover,
.open .btn-danger.dropdown-toggle {
  background-color: #b74635 !important;
  border-color: #d15b47;
}

.btn-danger.no-border:hover {
  border-color: #b74635;
}

.btn-danger.no-hover:hover {
  background-color: #d15b47 !important;
}

.btn-danger.active {
  background-color: #c4513e !important;
  border-color: #aa4434;
}

.btn-danger.no-border.active {
  background-color: #ba4b39 !important;
  border-color: #ba4b39;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d15b47 !important;
  border-color: #d15b47;
}

.btn-inverse,
.btn-inverse:focus {
  background-color: #555555 !important;
  border-color: #555555;
}

.btn-inverse:hover,
.open .btn-inverse.dropdown-toggle {
  background-color: #303030 !important;
  border-color: #555555;
}

.btn-inverse.no-border:hover {
  border-color: #303030;
}

.btn-inverse.no-hover:hover {
  background-color: #555555 !important;
}

.btn-inverse.active {
  background-color: #434343 !important;
  border-color: #313131;
}

.btn-inverse.no-border.active {
  background-color: #3b3b3b !important;
  border-color: #3b3b3b;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #555555 !important;
  border-color: #555555;
}

.btn-pink,
.btn-pink:focus {
  background-color: #d6487e !important;
  border-color: #d6487e;
}

.btn-pink:hover,
.open .btn-pink.dropdown-toggle {
  background-color: #b73766 !important;
  border-color: #d6487e;
}

.btn-pink.no-border:hover {
  border-color: #b73766;
}

.btn-pink.no-hover:hover {
  background-color: #d6487e !important;
}

.btn-pink.active {
  background-color: #c74072 !important;
  border-color: #af3462;
}

.btn-pink.no-border.active {
  background-color: #be386a !important;
  border-color: #be386a;
}

.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #d6487e !important;
  border-color: #d6487e;
}

.btn-purple,
.btn-purple:focus {
  background-color: #9585bf !important;
  border-color: #9585bf;
}

.btn-purple:hover,
.open .btn-purple.dropdown-toggle {
  background-color: #7461aa !important;
  border-color: #9585bf;
}

.btn-purple.no-border:hover {
  border-color: #7461aa;
}

.btn-purple.no-hover:hover {
  background-color: #9585bf !important;
}

.btn-purple.active {
  background-color: #8573b5 !important;
  border-color: #705ca8;
}

.btn-purple.no-border.active {
  background-color: #7c69af !important;
  border-color: #7c69af;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #9585bf !important;
  border-color: #9585bf;
}

.btn-grey,
.btn-grey:focus {
  background-color: #a0a0a0 !important;
  border-color: #a0a0a0;
}

.btn-grey:hover,
.open .btn-grey.dropdown-toggle {
  background-color: #888888 !important;
  border-color: #a0a0a0;
}

.btn-grey.no-border:hover {
  border-color: #888888;
}

.btn-grey.no-hover:hover {
  background-color: #a0a0a0 !important;
}

.btn-grey.active {
  background-color: #949494 !important;
  border-color: #828282;
}

.btn-grey.no-border.active {
  background-color: #8c8c8c !important;
  border-color: #8c8c8c;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #a0a0a0 !important;
  border-color: #a0a0a0;
}

.btn-light {
  color: #888888 !important;
  text-shadow: 0 -1px 0 rgba(250, 250, 250, 0.25) !important;
}

.btn-light,
.btn-light:focus {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7;
}

.btn-light:hover,
.open .btn-light.dropdown-toggle {
  background-color: #d9d9d9 !important;
  border-color: #e7e7e7;
}

.btn-light.no-border:hover {
  border-color: #d9d9d9;
}

.btn-light.no-hover:hover {
  background-color: #e7e7e7 !important;
}

.btn-light.active {
  background-color: #e0e0e0 !important;
  border-color: #cecece;
}

.btn-light.no-border.active {
  background-color: #d8d8d8 !important;
  border-color: #d8d8d8;
}

.btn-light.disabled,
.btn-light[disabled],
fieldset[disabled] .btn-light,
.btn-light.disabled:hover,
.btn-light[disabled]:hover,
fieldset[disabled] .btn-light:hover,
.btn-light.disabled:focus,
.btn-light[disabled]:focus,
fieldset[disabled] .btn-light:focus,
.btn-light.disabled:active,
.btn-light[disabled]:active,
fieldset[disabled] .btn-light:active,
.btn-light.disabled.active,
.btn-light[disabled].active,
fieldset[disabled] .btn-light.active {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7;
}

.btn-light.btn-xs:after {
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
}

.btn-light.btn-sm:after {
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
}

.btn-light.btn-large:after {
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
}

.btn.btn-white {
  border-width: 1px;
  border-color: #CCC;
  color: #444 !important;
  text-shadow: none !important;
  background-color: #FFF !important;
}

.btn.btn-white:hover,
.btn.btn-white:focus {
  background-color: #EBEBEB !important;
}

.btn.btn-white.no-border {
  border-color: #CCC;
}

.btn.disabled.active,
.btn[disabled].active,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
  outline: none;
}

.btn.disabled:active,
.btn[disabled]:active {
  top: 0;
  left: 0;
}

/* active buttons */
.btn.active {
  color: #efe5b5;
}

.btn.active:after {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 1px solid #efe5b5;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.btn.active.btn-sm:after {
  left: -3px;
  right: -3px;
  bottom: -3px;
}

.btn.active.btn-large:after {
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.btn.active.btn-xs:after,
.btn.active.btn-minier:after {
  left: -1px;
  right: -1px;
  bottom: -2px;
}

.btn.active.btn-minier:after {
  bottom: -1px;
}

.btn.active.btn-yellow:after {
  border-bottom-color: #c96338;
}

.btn.active.btn-light {
  color: #515151;
}

.btn.active.btn-light:after {
  border-bottom-color: #B5B5B5;
}

/* icons inside buttons */
.btn > [class*=icon-] {
  display: inline;
  margin-right: 4px;
}

.btn > [class*=icon-].icon-on-right {
  margin-right: 0;
  margin-left: 4px;
}

.btn > .icon-only[class*=icon-] {
  margin: 0;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

.btn-large > [class*=icon-] {
  margin-right: 6px;
}

.btn-large > [class*=icon-].icon-on-right {
  margin-right: 0;
  margin-left: 6px;
}

.btn-sm > [class*=icon-] {
  margin-right: 3px;
}

.btn-sm > [class*=icon-].icon-on-right {
  margin-right: 0;
  margin-left: 3px;
}

.btn-xs > [class*=icon-],
.btn-minier > [class*=icon-] {
  margin-right: 2px;
}

.btn-xs > [class*=icon-].icon-on-right,
.btn-minier > [class*=icon-].icon-on-right {
  margin-right: 0;
  margin-left: 2px;
}

.btn.btn-link {
  border: none !important;
  background: transparent none !important;
  color: #0088cc !important;
  text-shadow: none !important;
  padding: 4px 12px !important;
  line-height: 20px !important;
}

.btn.btn-link:hover {
  background: none !important;
  text-shadow: none !important;
}

.btn.btn-link.active {
  background: none !important;
  text-decoration: underline;
  color: #009ceb !important;
}

.btn.btn-link.active:after {
  display: none;
}

.btn.btn-link.disabled,
.btn.btn-link[disabled] {
  background: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.btn.btn-link.disabled:hover,
.btn.btn-link[disabled]:hover {
  background: none !important;
  text-decoration: none !important;
}

.btn.btn-no-border {
  border-width: 0 !important;
}

.btn-primary {
  background-color: #60a3bc;
  border: none;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary a:hover {
  background-color: #82ccdd;
}

.list-group-item-success {
  background-color: #e6e6e6;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.ptb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ptb-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ptb-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.range {
  display: table;
  position: relative;
  height: 25px;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range input[type=range] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: table-cell;
  width: 100%;
  background-color: transparent;
  height: 25px;
  cursor: pointer;
}

.range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: #999999;
}

.range input[type=range]::-moz-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: #999999;
}

.range output {
  display: table-cell;
  padding: 3px 5px 2px;
  min-width: 40px;
  color: white;
  background-color: #999999;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.range input[type=range] {
  outline: none;
}

.range.range-primary input[type=range]::-webkit-slider-thumb {
  background-color: #428bca;
}

.range.range-primary input[type=range]::-moz-slider-thumb {
  background-color: #428bca;
}

.range.range-primary output {
  background-color: #428bca;
}

.range.range-primary input[type=range] {
  outline-color: #428bca;
}

.range.range-success input[type=range]::-webkit-slider-thumb {
  background-color: #5cb85c;
}

.range.range-success input[type=range]::-moz-slider-thumb {
  background-color: #5cb85c;
}

.range.range-success output {
  background-color: #5cb85c;
}

.range.range-success input[type=range] {
  outline-color: #5cb85c;
}

.range.range-info input[type=range]::-webkit-slider-thumb {
  background-color: #5bc0de;
}

.range.range-info input[type=range]::-moz-slider-thumb {
  background-color: #5bc0de;
}

.range.range-info output {
  background-color: #5bc0de;
}

.range.range-info input[type=range] {
  outline-color: #5bc0de;
}

.range.range-warning input[type=range]::-webkit-slider-thumb {
  background-color: #f0ad4e;
}

.range.range-warning input[type=range]::-moz-slider-thumb {
  background-color: #f0ad4e;
}

.range.range-warning output {
  background-color: #f0ad4e;
}

.range.range-warning input[type=range] {
  outline-color: #f0ad4e;
}

.range.range-danger input[type=range]::-webkit-slider-thumb {
  background-color: #d9534f;
}

.range.range-danger input[type=range]::-moz-slider-thumb {
  background-color: #d9534f;
}

.range.range-danger output {
  background-color: #d9534f;
}

.range.range-danger input[type=range] {
  outline-color: #d9534f;
}

.panel-body {
  font-size: 14px;
  padding: 15px;
  text-align: justify;
}

.flash-message {
  position: fixed;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  margin-top: 90px;
  z-index: 1000;
  text-align: center;
}

.flash-message .alert {
  font-size: 20px;
  font-weight: 300;
}

.flash-message .close {
  font-size: 30px;
}

.list li {
  display: inline-block;
  vertical-align: middle;
}

.social-login {
  text-align: center;
  margin: auto;
}

.social-login img {
  width: 50px;
  margin: 0 10px;
  border-radius: 5px;
}

.badge.price {
  font-size: 16px;
  padding: 8px;
}

/*smart links */
/* default */
.smart-link {
  margin: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: inline-block;
}

.smart-link:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 10px #888888;
  -moz-box-shadow: 5px 10px #888888;
  -o-box-shadow: 5px 10px #888888;
  box-shadow: 5px 5px 5px 5px #d6d6d6;
}

.smart-link .title {
  width: 340px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  height: 45px;
  font-size: 16px;
  color: #1289A7;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.smart-link .title h3 {
  font-size: 18px;
}

.smart-link .date {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
  height: 22px;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
  background: #60a3bc;
  border-radius: 5px 5px 0 0;
}

.smart-link img {
  width: 340px;
  height: 212px;
  float: left;
}

/*smart link 1*/
.smart-link.news .title {
  background: #efefef;
}

.box-order {
  margin: 10px;
  padding: 10px;
  background: #efefef;
  border-radius: 5px;
}

.box-order img {
  width: 80px;
}

/* bootstrap overrides */
.bg-info {
  color: #fff;
  background: #60a3bc !important;
}

.nounderline {
  text-decoration: none !important;
}

/* Newsletetter */
#list-builder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  filter: alpha(opacity=60);
  opacity: 0.6;
  display: none;
}

#popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f99d07;
  color: #FFFFFF;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border: 10px solid #FFFFFF;
  display: none;
  z-index: 0;
}

#popup-close {
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
  width: 40px;
}

#popup-box h1 {
  margin: 0;
}

#popup-box form {
  margin-bottom: 0px;
}

#popup-box input {
  padding: 10px;
  border: 1px solid #ddd;
  width: 40%;
}

#popup-box button {
  padding: 10px;
  border: 1px solid #ddd;
}

ul.horizontal-slide {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

ul.horizontal-slide li[class*=col] {
  display: inline-block;
  float: none;
}

ul.horizontal-slide li[class*=col]:first-child {
  margin-left: 20;
}

ul.horizontal-slide img {
  height: 350px;
  margin: 0;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
}

.w-70 {
  width: 70%;
}

.display-5 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.display-7 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

.carousel-indicators li {
  width: 30%;
}

.carousel-indicators img {
  margin-top: 30px;
}

.carousel-indicators li :hover {
  cursor: pointer;
  border: 2px solid #ccc;
}

/* Account */
#account {
  position: relative;
}

#account .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #343a40;
  background: url("../img/bg-showcase-2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

#account .bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.75);
  z-index: 0;
}

#account .account-text {
  margin: 6rem 3rem 2rem;
  color: #fff;
  background-color: rgba(80, 80, 80, 0.4);
  padding: 2rem;
  text-align: center;
}

#account .account-text h1 {
  font-weight: 500;
}

#account .form, #account form {
  margin: 3rem 3rem 7rem;
}

#account .form .box {
  margin: 0;
  width: 100%;
}

#account .form .box input[type=text],
#account .form .box input[type=email],
#account .form .box input[type=password] {
  padding-left: 39px;
  margin-bottom: 10px;
  color: black;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

#account .form .box input.name {
  background: url("../img/formname.png") #fff no-repeat 5px;
}

#account .form .box input.mail {
  background: url("../img/formmail.png") #fff no-repeat 5px;
}

#account .form .box input.phone {
  background: url("../img/formphone.png") #fff no-repeat 5px;
}

#account .form .box input.password {
  background: url("../img/formpass.png") #fff no-repeat 5px;
}

#account .form .box textarea {
  padding: 11px;
  width: 100%;
  margin: 0;
  border-radius: 3px;
  height: 113px;
}

#account .submit input[type=submit] {
  margin: 20px 0;
  text-transform: uppercase;
  color: #fff;
  background: #187CCC;
  font-size: 16px;
  padding: 4px 12px;
  border: 0 none;
  border-radius: 5px;
  -webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
  -o-transition: background linear 0.2s, box-shadow linear 0.2s;
  transition: background linear 0.2s, box-shadow linear 0.2s;
}

#account .submit input[type=submit]:hover {
  background: #252528;
}

/*# sourceMappingURL=account.css.map */
/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
/*html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}*/
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
/*html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}*/
audio, canvas, progress, video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* End extract */
/*html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}*/
.w3-image {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.w3-table, .w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.w3-table-all {
  border: 1px solid #ccc;
}

.w3-bordered tr, .w3-table-all tr {
  border-bottom: 1px solid #ddd;
}

.w3-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.w3-table-all tr:nth-child(odd) {
  background-color: #fff;
}

.w3-table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}

.w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
  background-color: #ccc;
}

.w3-centered tr th, .w3-centered tr td {
  text-align: center;
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {
  padding-left: 16px;
}

.w3-btn, .w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-btn, .w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-disabled, .w3-btn:disabled, .w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.w3-disabled *, :disabled * {
  pointer-events: none;
}

.w3-btn.w3-disabled:hover, .w3-btn:disabled:hover {
  box-shadow: none;
}

.w3-badge, .w3-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.w3-badge {
  border-radius: 50%;
}

.w3-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.w3-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.w3-ul li:last-child {
  border-bottom: none;
}

.w3-tooltip, .w3-display-container {
  position: relative;
}

.w3-tooltip .w3-text {
  display: none;
}

.w3-tooltip:hover .w3-text {
  display: inline-block;
}

.w3-ripple:active {
  opacity: 0.5;
}

.w3-ripple {
  transition: opacity 0s;
}

.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.w3-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.w3-dropdown-click, .w3-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.w3-dropdown-hover:hover .w3-dropdown-content {
  display: block;
}

.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
  background-color: #ccc;
  color: #000;
}

.w3-dropdown-hover:hover > .w3-button:first-child, .w3-dropdown-click:hover > .w3-button:first-child {
  background-color: #ccc;
  color: #000;
}

.w3-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.w3-check, .w3-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.w3-bar-block .w3-dropdown-hover, .w3-bar-block .w3-dropdown-click {
  width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content, .w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-button, .w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.w3-main, #main {
  transition: margin-left 0.4s;
}

.w3-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.w3-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.w3-bar .w3-dropdown-hover, .w3-bar .w3-dropdown-click {
  position: static;
  float: left;
}

.w3-bar .w3-button {
  white-space: normal;
}

.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-responsive {
  display: block;
  overflow-x: auto;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before,
.w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
  float: left;
  width: 100%;
}

.w3-col.s1 {
  width: 8.33333%;
}

.w3-col.s2 {
  width: 16.66666%;
}

.w3-col.s3 {
  width: 24.99999%;
}

.w3-col.s4 {
  width: 33.33333%;
}

.w3-col.s5 {
  width: 41.66666%;
}

.w3-col.s6 {
  width: 49.99999%;
}

.w3-col.s7 {
  width: 58.33333%;
}

.w3-col.s8 {
  width: 66.66666%;
}

.w3-col.s9 {
  width: 74.99999%;
}

.w3-col.s10 {
  width: 83.33333%;
}

.w3-col.s11 {
  width: 91.66666%;
}

.w3-col.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .w3-col.m1 {
    width: 8.33333%;
  }

  .w3-col.m2 {
    width: 16.66666%;
  }

  .w3-col.m3, .w3-quarter {
    width: 24.99999%;
  }

  .w3-col.m4, .w3-third {
    width: 33.33333%;
  }

  .w3-col.m5 {
    width: 41.66666%;
  }

  .w3-col.m6, .w3-half {
    width: 49.99999%;
  }

  .w3-col.m7 {
    width: 58.33333%;
  }

  .w3-col.m8, .w3-twothird {
    width: 66.66666%;
  }

  .w3-col.m9, .w3-threequarter {
    width: 74.99999%;
  }

  .w3-col.m10 {
    width: 83.33333%;
  }

  .w3-col.m11 {
    width: 91.66666%;
  }

  .w3-col.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .w3-col.l1 {
    width: 8.33333%;
  }

  .w3-col.l2 {
    width: 16.66666%;
  }

  .w3-col.l3 {
    width: 24.99999%;
  }

  .w3-col.l4 {
    width: 33.33333%;
  }

  .w3-col.l5 {
    width: 41.66666%;
  }

  .w3-col.l6 {
    width: 49.99999%;
  }

  .w3-col.l7 {
    width: 58.33333%;
  }

  .w3-col.l8 {
    width: 66.66666%;
  }

  .w3-col.l9 {
    width: 74.99999%;
  }

  .w3-col.l10 {
    width: 83.33333%;
  }

  .w3-col.l11 {
    width: 91.66666%;
  }

  .w3-col.l12 {
    width: 99.99999%;
  }
}
.w3-content {
  max-width: 980px;
  margin: auto;
}

.w3-rest {
  overflow: hidden;
}

.w3-cell-row {
  display: table;
  width: 100%;
}

.w3-cell {
  display: table-cell;
}

.w3-cell-top {
  vertical-align: top;
}

.w3-cell-middle {
  vertical-align: middle;
}

.w3-cell-bottom {
  vertical-align: bottom;
}

.w3-hide {
  display: none !important;
}

.w3-show-block, .w3-show {
  display: block !important;
}

.w3-show-inline-block {
  display: inline-block !important;
}

@media (max-width: 600px) {
  .w3-modal-content {
    margin: 0 10px;
    width: auto !important;
  }

  .w3-modal {
    padding-top: 30px;
  }

  .w3-dropdown-hover.w3-mobile .w3-dropdown-content, .w3-dropdown-click.w3-mobile .w3-dropdown-content {
    position: relative;
  }

  .w3-hide-small {
    display: none !important;
  }

  .w3-mobile {
    display: block;
    width: 100% !important;
  }

  .w3-bar-item.w3-mobile, .w3-dropdown-hover.w3-mobile, .w3-dropdown-click.w3-mobile {
    text-align: center;
  }

  .w3-dropdown-hover.w3-mobile, .w3-dropdown-hover.w3-mobile .w3-btn, .w3-dropdown-hover.w3-mobile .w3-button, .w3-dropdown-click.w3-mobile, .w3-dropdown-click.w3-mobile .w3-btn, .w3-dropdown-click.w3-mobile .w3-button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .w3-modal-content {
    width: 500px;
  }

  .w3-modal {
    padding-top: 50px;
  }
}
@media (min-width: 993px) {
  .w3-modal-content {
    width: 900px;
  }

  .w3-hide-large {
    display: none !important;
  }

  .w3-sidebar.w3-collapse {
    display: block !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }

  .w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.w3-top, .w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.w3-top {
  top: 0;
}

.w3-bottom {
  bottom: 0;
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.w3-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.w3-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.w3-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-display-container:hover .w3-display-hover {
  display: block;
}

.w3-display-container:hover span.w3-display-hover {
  display: inline-block;
}

.w3-display-hover {
  display: none;
}

.w3-display-position {
  position: absolute;
}

.w3-circle {
  border-radius: 50%;
}

.w3-round-small {
  border-radius: 2px;
}

.w3-round, .w3-round-medium {
  border-radius: 4px;
}

.w3-round-large {
  border-radius: 8px;
}

.w3-round-xlarge {
  border-radius: 16px;
}

.w3-round-xxlarge {
  border-radius: 32px;
}

.w3-row-padding, .w3-row-padding > .w3-half, .w3-row-padding > .w3-third, .w3-row-padding > .w3-twothird, .w3-row-padding > .w3-threequarter, .w3-row-padding > .w3-quarter, .w3-row-padding > .w3-col {
  padding: 0 8px;
}

.w3-container, .w3-panel {
  padding: 0.01em 16px;
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w3-code, .w3-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px;
}

.w3-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word;
}

.w3-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}

.w3-card, .w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-card-4, .w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-spin {
  animation: w3-spin 2s infinite linear;
}

@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.w3-animate-fading {
  animation: fading 10s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.w3-animate-opacity {
  animation: opac 0.8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.w3-animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.w3-animate-input {
  transition: width 0.4s ease-in-out;
}

.w3-animate-input:focus {
  width: 100% !important;
}

.w3-opacity, .w3-hover-opacity:hover {
  opacity: 0.6;
}

.w3-opacity-off, .w3-hover-opacity-off:hover {
  opacity: 1;
}

.w3-opacity-max {
  opacity: 0.25;
}

.w3-opacity-min {
  opacity: 0.75;
}

.w3-greyscale-max, .w3-grayscale-max, .w3-hover-greyscale:hover, .w3-hover-grayscale:hover {
  filter: grayscale(100%);
}

.w3-greyscale, .w3-grayscale {
  filter: grayscale(75%);
}

.w3-greyscale-min, .w3-grayscale-min {
  filter: grayscale(50%);
}

.w3-sepia {
  filter: sepia(75%);
}

.w3-sepia-max, .w3-hover-sepia:hover {
  filter: sepia(100%);
}

.w3-sepia-min {
  filter: sepia(50%);
}

.w3-tiny {
  font-size: 10px !important;
}

.w3-small {
  font-size: 12px !important;
}

.w3-medium {
  font-size: 15px !important;
}

.w3-large {
  font-size: 18px !important;
}

.w3-xlarge {
  font-size: 24px !important;
}

.w3-xxlarge {
  font-size: 36px !important;
}

.w3-xxxlarge {
  font-size: 48px !important;
}

.w3-jumbo {
  font-size: 64px !important;
}

.w3-left-align {
  text-align: left !important;
}

.w3-right-align {
  text-align: right !important;
}

.w3-justify {
  text-align: justify !important;
}

.w3-center {
  text-align: center !important;
}

.w3-border-0 {
  border: 0 !important;
}

.w3-border {
  border: 1px solid #ccc !important;
}

.w3-border-top {
  border-top: 1px solid #ccc !important;
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.w3-border-left {
  border-left: 1px solid #ccc !important;
}

.w3-border-right {
  border-right: 1px solid #ccc !important;
}

.w3-topbar {
  border-top: 6px solid #ccc !important;
}

.w3-bottombar {
  border-bottom: 6px solid #ccc !important;
}

.w3-leftbar {
  border-left: 6px solid #ccc !important;
}

.w3-rightbar {
  border-right: 6px solid #ccc !important;
}

.w3-section, .w3-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.w3-margin {
  margin: 16px !important;
}

.w3-margin-top {
  margin-top: 16px !important;
}

.w3-margin-bottom {
  margin-bottom: 16px !important;
}

.w3-margin-left {
  margin-left: 16px !important;
}

.w3-margin-right {
  margin-right: 16px !important;
}

.w3-padding-small {
  padding: 4px 8px !important;
}

.w3-padding {
  padding: 8px 16px !important;
}

.w3-padding-large {
  padding: 12px 24px !important;
}

.w3-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.w3-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.w3-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.w3-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.w3-left {
  float: left !important;
}

.w3-right {
  float: right !important;
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.w3-transparent, .w3-hover-none:hover {
  background-color: transparent !important;
}

.w3-hover-none:hover {
  box-shadow: none !important;
}

/* Colors */
.w3-amber, .w3-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important;
}

.w3-aqua, .w3-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important;
}

.w3-blue, .w3-hover-blue:hover {
  color: #fff !important;
  background-color: #2196F3 !important;
}

.w3-light-blue, .w3-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87CEEB !important;
}

.w3-brown, .w3-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important;
}

.w3-cyan, .w3-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important;
}

.w3-blue-grey, .w3-hover-blue-grey:hover, .w3-blue-gray, .w3-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important;
}

.w3-green, .w3-hover-green:hover {
  color: #fff !important;
  background-color: #4CAF50 !important;
}

.w3-light-green, .w3-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important;
}

.w3-indigo, .w3-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.w3-khaki, .w3-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important;
}

.w3-lime, .w3-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important;
}

.w3-orange, .w3-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}

.w3-deep-orange, .w3-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important;
}

.w3-pink, .w3-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important;
}

.w3-purple, .w3-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important;
}

.w3-deep-purple, .w3-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important;
}

.w3-red, .w3-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.w3-sand, .w3-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important;
}

.w3-teal, .w3-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important;
}

.w3-yellow, .w3-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important;
}

.w3-white, .w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.w3-black, .w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}

.w3-pale-red, .w3-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important;
}

.w3-pale-green, .w3-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important;
}

.w3-pale-yellow, .w3-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important;
}

.w3-pale-blue, .w3-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important;
}

.w3-text-amber, .w3-hover-text-amber:hover {
  color: #ffc107 !important;
}

.w3-text-aqua, .w3-hover-text-aqua:hover {
  color: #00ffff !important;
}

.w3-text-blue, .w3-hover-text-blue:hover {
  color: #2196F3 !important;
}

.w3-text-light-blue, .w3-hover-text-light-blue:hover {
  color: #87CEEB !important;
}

.w3-text-brown, .w3-hover-text-brown:hover {
  color: #795548 !important;
}

.w3-text-cyan, .w3-hover-text-cyan:hover {
  color: #00bcd4 !important;
}

.w3-text-blue-grey, .w3-hover-text-blue-grey:hover, .w3-text-blue-gray, .w3-hover-text-blue-gray:hover {
  color: #607d8b !important;
}

.w3-text-green, .w3-hover-text-green:hover {
  color: #4CAF50 !important;
}

.w3-text-light-green, .w3-hover-text-light-green:hover {
  color: #8bc34a !important;
}

.w3-text-indigo, .w3-hover-text-indigo:hover {
  color: #3f51b5 !important;
}

.w3-text-khaki, .w3-hover-text-khaki:hover {
  color: #b4aa50 !important;
}

.w3-text-lime, .w3-hover-text-lime:hover {
  color: #cddc39 !important;
}

.w3-text-orange, .w3-hover-text-orange:hover {
  color: #ff9800 !important;
}

.w3-text-deep-orange, .w3-hover-text-deep-orange:hover {
  color: #ff5722 !important;
}

.w3-text-pink, .w3-hover-text-pink:hover {
  color: #e91e63 !important;
}

.w3-text-purple, .w3-hover-text-purple:hover {
  color: #9c27b0 !important;
}

.w3-text-deep-purple, .w3-hover-text-deep-purple:hover {
  color: #673ab7 !important;
}

.w3-text-red, .w3-hover-text-red:hover {
  color: #f44336 !important;
}

.w3-text-sand, .w3-hover-text-sand:hover {
  color: #fdf5e6 !important;
}

.w3-text-teal, .w3-hover-text-teal:hover {
  color: #009688 !important;
}

.w3-text-yellow, .w3-hover-text-yellow:hover {
  color: #d2be0e !important;
}

.w3-text-white, .w3-hover-text-white:hover {
  color: #fff !important;
}

.w3-text-black, .w3-hover-text-black:hover {
  color: #000 !important;
}

.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
  color: #757575 !important;
}

.w3-text-light-grey, .w3-hover-text-light-grey:hover, .w3-text-light-gray, .w3-hover-text-light-gray:hover {
  color: #f1f1f1 !important;
}

.w3-text-dark-grey, .w3-hover-text-dark-grey:hover, .w3-text-dark-gray, .w3-hover-text-dark-gray:hover {
  color: #3a3a3a !important;
}

.w3-border-amber, .w3-hover-border-amber:hover {
  border-color: #ffc107 !important;
}

.w3-border-aqua, .w3-hover-border-aqua:hover {
  border-color: #00ffff !important;
}

.w3-border-blue, .w3-hover-border-blue:hover {
  border-color: #2196F3 !important;
}

.w3-border-light-blue, .w3-hover-border-light-blue:hover {
  border-color: #87CEEB !important;
}

.w3-border-brown, .w3-hover-border-brown:hover {
  border-color: #795548 !important;
}

.w3-border-cyan, .w3-hover-border-cyan:hover {
  border-color: #00bcd4 !important;
}

.w3-border-blue-grey, .w3-hover-border-blue-grey:hover, .w3-border-blue-gray, .w3-hover-border-blue-gray:hover {
  border-color: #607d8b !important;
}

.w3-border-green, .w3-hover-border-green:hover {
  border-color: #4CAF50 !important;
}

.w3-border-light-green, .w3-hover-border-light-green:hover {
  border-color: #8bc34a !important;
}

.w3-border-indigo, .w3-hover-border-indigo:hover {
  border-color: #3f51b5 !important;
}

.w3-border-khaki, .w3-hover-border-khaki:hover {
  border-color: #f0e68c !important;
}

.w3-border-lime, .w3-hover-border-lime:hover {
  border-color: #cddc39 !important;
}

.w3-border-orange, .w3-hover-border-orange:hover {
  border-color: #ff9800 !important;
}

.w3-border-deep-orange, .w3-hover-border-deep-orange:hover {
  border-color: #ff5722 !important;
}

.w3-border-pink, .w3-hover-border-pink:hover {
  border-color: #e91e63 !important;
}

.w3-border-purple, .w3-hover-border-purple:hover {
  border-color: #9c27b0 !important;
}

.w3-border-deep-purple, .w3-hover-border-deep-purple:hover {
  border-color: #673ab7 !important;
}

.w3-border-red, .w3-hover-border-red:hover {
  border-color: #f44336 !important;
}

.w3-border-sand, .w3-hover-border-sand:hover {
  border-color: #fdf5e6 !important;
}

.w3-border-teal, .w3-hover-border-teal:hover {
  border-color: #009688 !important;
}

.w3-border-yellow, .w3-hover-border-yellow:hover {
  border-color: #ffeb3b !important;
}

.w3-border-white, .w3-hover-border-white:hover {
  border-color: #fff !important;
}

.w3-border-black, .w3-hover-border-black:hover {
  border-color: #000 !important;
}

.w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
  border-color: #9e9e9e !important;
}

.w3-border-light-grey, .w3-hover-border-light-grey:hover, .w3-border-light-gray, .w3-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important;
}

.w3-border-dark-grey, .w3-hover-border-dark-grey:hover, .w3-border-dark-gray, .w3-hover-border-dark-gray:hover {
  border-color: #616161 !important;
}

.w3-border-pale-red, .w3-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important;
}

.w3-border-pale-green, .w3-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important;
}

.w3-border-pale-yellow, .w3-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important;
}

.w3-border-pale-blue, .w3-hover-border-pale-blue:hover {
  border-color: #e7ffff !important;
}

.content .masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead-s.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.content .masthead .description {
  text-align: center;
  color: #fff;
  font-size: 28px;
  line-height: 40px;
  font-weight: 1000;
  background-color: rgba(37, 37, 41, 0.5);
  padding: 0px;
}

@media (min-width: 768px) {
  .content .masthead .description {
    font-size: 34px;
    padding: 20px;
  }

  .content .masthead .description1 {
    font-size: 34px;
  }
}
.section-link {
  background: #078292;
  width: 96%;
  margin: 2%;
  padding: 20px;
}

.section-link .title {
  font-size: 24px;
  height: 60px;
  color: #fff;
  font-weight: 300;
}

/*smart contents */
.smart-content {
  width: 300px;
  height: 405px;
  margin: 15px;
}

.smart-content:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 10px #888888;
  -moz-box-shadow: 5px 10px #888888;
  -o-box-shadow: 5px 10px #888888;
  box-shadow: 5px 5px 5px 5px #d6d6d6;
}

.smart-content .card-img-top {
  height: 256px;
}

.smart-content .card-img-top img {
  width: 100%;
}

.smart-content .card-title {
  height: 90px;
  padding: 5px;
}

.smart-content .card-comment {
  height: 62px;
  width: 100%;
  padding: 10px;
  line-height: 21px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  background: #f8fafa;
  opacity: 0.95;
}

.content-suggest-box {
  width: 100%;
}

.content-suggest-box.form-group {
  width: 100%;
}

.content-suggest-box input[type=text] {
  border-radius: 5px;
  padding: 5px;
}

/** accordion */
.accordion-style1.panel-group .panel {
  border-radius: 0;
  border-color: #cdd8e3;
  background-color: #FFF;
  box-shadow: none;
}

.accordion-style1.panel-group .panel:last-child {
  border-bottom-width: 1px;
}

.accordion-style1.panel-group .panel .collapse {
  background-color: #FFF;
}

.accordion-style1.panel-group .panel + .panel {
  margin-top: 2px;
}

.accordion-style1.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-color: #cdd8e3 !important;
}

.accordion-style1.panel-group .panel-heading {
  padding: 0;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle {
  color: #4c8fbd;
  background-color: #eef4f9;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  padding: 15px;
  display: block;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle.collapsed {
  color: #478fca;
  font-weight: normal;
  background-color: #F9F9F9;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle:hover {
  color: #6ea6cc;
  background-color: #f1f8fd;
  text-decoration: none;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle:focus,
.accordion-style1.panel-group .panel-heading .accordion-toggle:active {
  outline: none;
  text-decoration: none;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle > [class*=icon-]:first-child {
  width: 16px;
}

.accordion-style1.panel-group .panel-heading .accordion-toggle:hover > [class*=icon-]:first-child {
  text-decoration: none;
}

.accordion-style1.panel-group .panel-body,
.accordion-style1.panel-group .collapse.in > .panel-body {
  border-top: 1px solid #cdd8e3;
}

.accordion-style1.panel-group.no-padding {
  padding: 0;
}

.accordion-style2.panel-group .panel {
  border-width: 0;
}

.accordion-style2.panel-group .panel:last-child {
  border-bottom-width: 0;
}

.accordion-style2.panel-group .panel + .panel {
  margin-top: 4px;
}

.accordion-style2.panel-group .panel .panel-body {
  border-top: none;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle {
  background-color: #EDF3F7;
  border: 2px solid #6EAED1;
  border-width: 0 0 0 2px;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle:hover {
  text-decoration: none;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle.collapsed {
  background-color: #F3F3F3;
  color: #606060;
  border-width: 0 0 0 1px;
  border-color: #D9D9D9;
}

.accordion-style2.panel-group .panel-heading .accordion-toggle.collapsed:hover {
  background-color: #F6F6F6;
  color: #438EB9;
  text-decoration: none;
}

.accordion-style2.panel-group .panel-body,
.accordion-style2.panel-group .collapse.in > .panel-body {
  border-top: none;
}

/* nested questions */
.accordion-style2.panel-group .accordion-style2.panel-group .panel {
  border-bottom: 1px dotted #D9D9D9;
}

.accordion-style2.panel-group .accordion-style2.panel-group .panel:last-child {
  border-bottom: none;
}

.accordion-style2.panel-group .accordion-style2.panel-group .panel .panel-heading,
.accordion-style2.panel-group .accordion-style2.panel-group .panel .panel-heading .accordion-toggle {
  background-color: transparent;
  border-width: 0;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.accordion-style2.panel-group .accordion-style2.panel-group .panel .panel-heading {
  padding-top: 0;
  padding-bottom: 0;
}

.tab-content {
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
  position: relative;
  z-index: 11;
}

.tab-content.no-padding {
  padding: 0;
}

.tab-content.no-border {
  border: none;
  padding: 12px;
}

.tab-content.padding-32 {
  padding: 32px 24px;
}

.tab-content.no-border.padding-32 {
  padding: 32px;
}

.tab-content.padding-30 {
  padding: 30px 23px;
}

.tab-content.no-border.padding-30 {
  padding: 30px;
}

.tab-content.padding-28 {
  padding: 28px 21px;
}

.tab-content.no-border.padding-28 {
  padding: 28px;
}

.tab-content.padding-26 {
  padding: 26px 20px;
}

.tab-content.no-border.padding-26 {
  padding: 26px;
}

.tab-content.padding-24 {
  padding: 24px 18px;
}

.tab-content.no-border.padding-24 {
  padding: 24px;
}

.tab-content.padding-22 {
  padding: 22px 17px;
}

.tab-content.no-border.padding-22 {
  padding: 22px;
}

.tab-content.padding-20 {
  padding: 20px 15px;
}

.tab-content.no-border.padding-20 {
  padding: 20px;
}

.tab-content.padding-18 {
  padding: 18px 14px;
}

.tab-content.no-border.padding-18 {
  padding: 18px;
}

.tab-content.padding-16 {
  padding: 16px 12px;
}

.tab-content.no-border.padding-16 {
  padding: 16px;
}

.tab-content.padding-14 {
  padding: 14px 11px;
}

.tab-content.no-border.padding-14 {
  padding: 14px;
}

.tab-content.padding-12 {
  padding: 12px 9px;
}

.tab-content.no-border.padding-12 {
  padding: 12px;
}

.tab-content.padding-10 {
  padding: 10px 8px;
}

.tab-content.no-border.padding-10 {
  padding: 10px;
}

.tab-content.padding-8 {
  padding: 8px 6px;
}

.tab-content.no-border.padding-8 {
  padding: 8px;
}

.tab-content.padding-6 {
  padding: 6px 5px;
}

.tab-content.no-border.padding-6 {
  padding: 6px;
}

.tab-content.padding-4 {
  padding: 4px 3px;
}

.tab-content.no-border.padding-4 {
  padding: 4px;
}

.tab-content.padding-2 {
  padding: 2px 2px;
}

.tab-content.no-border.padding-2 {
  padding: 2px;
}

.tab-content.padding-0 {
  padding: 0px 0px;
}

.tab-content.no-border.padding-0 {
  padding: 0px;
}

/* animation effects */
.smart-hover.grow {
  transition: all 0.2s ease-in-out;
}

.smart-hover.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.smart-hover.swing:hover {
  animation: swing ease-in-out 1s infinite alternate;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* *********************************************** */
/* *********** SLIDES ANIMATION    *************** */
/* *********************************************** */
@font-face {
  font-family: "BebasNeueRegular";
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  list-style-type: none;
}

.cb-slideshow:after {
  content: "";
  /*background: transparent url(../img/masthead/pattern.png) repeat top left;*/
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
  font-size: 160px;
  padding: 0 30px;
  line-height: 120px;
  color: rgba(255, 255, 255, 0.8);
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/masthead/1.jpg);
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/masthead/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/masthead/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/masthead/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/masthead/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/masthead/6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -o-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -o-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    -moz-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    -o-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -o-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -o-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
    -ms-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -ms-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    transform: translateY(0%);
  }
  17% {
    opacity: 1;
    transform: translateY(0%);
  }
  19% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 50px;
  }
}
/*******  ROTATE IMAGES ********/
.fancy-display {
  border: 10px solid #000;
  transform: rotate(-5deg);
  border-radius: 15px;
}

#list-partners .card {
  max-width: 180px;
}

.progress-bar {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

#container {
  margin-top: 50px;
}

#mbot {
  color: black;
  margin: 5%;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 1px 1px 2px #4c8ed9;
}

#dash {
  color: black;
  margin: 5%;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 1px 1px 2px #40ce4e;
}

#microbit {
  color: black;
  margin: 5%;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 1px 1px 2px #f2bd12;
}

#intro-tuto {
  margin: 10px;
  padding: 10px;
  font-style: italic;
}

.row {
  margin: 10px;
  font-size: 18px;
}

#bandereau-mbot {
  margin: 0 auto;
  background-color: #4c8ed9;
  color: gold;
  padding: 10px;
  border: 5px solid darkslateblue;
  border-radius: 5px;
}

#bandereau-dash {
  margin: 0 auto;
  background-color: #40ce4e;
  color: gold;
  padding: 10px;
  border: 5px solid greenyellow;
  border-radius: 5px;
}

#bandereau-microbit {
  margin: 0 auto;
  background-color: #f2bd12;
  color: gold;
  padding: 10px;
  border: 5px solid orange;
  border-radius: 5px;
}

#tuto {
  text-shadow: 1px 1px black;
}

#easy {
  color: green;
  font-weight: bold;
}

#medium {
  color: orange;
  font-weight: bold;
}

#hard {
  color: red;
  font-weight: bold;
}

#blue {
  color: blue;
  font-weight: bold;
}

#orange {
  color: orange;
  font-weight: bold;
}

#pink {
  color: violet;
  font-weight: bold;
}

#links-tuto {
  font-weight: bold;
  text-decoration-line: underline;
}

#links-tuto:hover {
  color: gold;
}

/* .card{
  background-color: #ffffff;
  margin: 10px; 
  padding: 10px;
  border-radius: 5% 5%;
  transition: transform .5s;
}
.card:hover{
  background-color: gold;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px black;
}
.card-img-top{
  margin: 0 auto;
  padding: 10px;
}
.card-text{
  text-align: center;
} */
.img-tuto {
  width: 100%;
  margin: 0;
}

.img-bandereau {
  width: 50%;
  margin-left: 100px;
}

.page-head {
  margin: 50px 0 0;
  width: 100%;
  padding: 10px;
}

.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.conr {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

/*@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

/*b {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.page-head .wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 25px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.page-head span {
  transform: skewX(15deg);
}

.page-head span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/
path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
.wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 0px;
  padding: 0;
  position: relative;
}

.search_box {
  height: 60px;
  width: 100%;
  border-radius: 15px;
  background: #fff;
}

.search_box input[type=text] {
  height: 60px;
  font-size: 30px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 5px 80px 5px 20px;
  width: 100%;
  position: absolute;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

.search_box input[type=text]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.search_box input[type=text]:focus {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

.search_box input[type=submit] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: red;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.search_box input[type=submit]:hover {
  opacity: 2;
}

.img-bandereau {
  width: 50%;
  margin-left: 100px;
}

/*# sourceMappingURL=smarteo.css.map */
